@use "../../assets/sass/_variables.scss" as *;

.todo-input-box {
  border: $border;
  border-radius: $border-radius;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

  &__input {
    border: none;
    padding: 0.4rem;
    margin: 0.02rem;
    width: 90%;
  }

  &__button {
    width: 10%;
    border: none;
    background-color: inherit;
  }
}
