@use "../../assets/sass/_variables.scss" as *;

.todo-display-box {
  @include todo-box;
  min-height: 3rem;

  &__input {
    width: 15%;
  }

  &__label {
    padding-left: 0.4rem;
    width: 75%;
    &--crossed-out {
      text-decoration: line-through;
    }
  }
}
