@use "../../assets/sass/_variables.scss" as *;

.todo-display-box {
  border: $border;
  border-radius: $border-radius;
  min-height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;

  &__input {
    width: 15%;
  }

  &__label {
    padding-left: 0.4rem;
    width: 75%;
    &--crossed-out {
      text-decoration: line-through;
    }
  }

  &__button {
    width: 10%;
    border: none;
    background-color: inherit;
  }
}
