.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;

  &__heading {
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    max-width: 28.125rem;
  }
}
