@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

$font-main: "Jost", sans-serif;

$color-yellow: rgb(255, 174, 0);
$color-black: black;

$border: 0.1rem solid $color-black;
$border-radius: 0.3rem;

$max-width: 28.125rem;

@mixin todo-box {
  border: $border;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
